<div class="section group">

	<div class="section group" style="margin-top: 20px; margin-bottom: 40px">

		<h2 style="margin-bottom: 40px">Search (<%= @playlist.name %> - <%= @playlist.id %>)</h2>	

		<form class="form-horizontal" role="form" method="POST" target="/tracksearch">
			<div class="form-group">
		            <label for="channelcontrol" class="col-sm-2 control-label">Track:</label>	
		            <div class="col-sm-10">
		            	<input type="textfield"/>
		            </div>
			</div>
		</form>
	</div>	

</div>