/*! 
 * Flow - A Fully Fluid Responsive Grid System
 * Created by Isaac Gray
 *
 * Generate a grid at http://flow.gs
 */
 
.section {
	clear: both;
	padding: 0;
	margin: 0;
	margin-left: -0.65em;
}

.col {
	display: block;
	float:left;
	width: 100%;
	box-sizing: border-box; /* Supported by IE 8+. If IE 7 and below support is required see http://html5please.com/#box-sizing */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-clip: padding-box; /* This allows column elements to have background colour without it bleeding into the gutter. Supported by IE 9+. If support for IE 8 and below is required, a content div with background colour should be placed inside the column */
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	margin: 0 0 0.65em 0;
	border-left: 0.65em solid transparent;
	padding: 0.25em;
}

.group:before,
.group:after {
	content:"";
	display:table;
}

.group:after {
	clear:both;
}

@media only screen and (min-width:480px) {

	.col {
		width: auto;
	}

	.s1{ width: 8.33%; }

	.s2{ width: 16.66%; }

	.s3{ width: 25%; }

	.s4{ width: 33.33%; }

	.s5{ width: 41.66%; }

	.s6{ width: 50%; }

	.s7{ width: 58.33%; }

	.s8{ width: 66.66%; }

	.s9{ width: 75%; }

	.s10{ width: 83.33%; }

	.s11{ width: 91.66%; }

	.s12{ width: 100%; }
}